services:
  minio:
    image: minio/minio:latest
    container_name: arxiv-minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data
    networks:
      - arxiv-shared

  ingestion_service:
    build: .
    networks:
      - arxiv-shared
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - minio
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/health" ]
      interval: 30s
      timeout: 10s
      retries: 3

volumes:
  minio_data:


networks:
  arxiv-shared:
    driver: bridge
    name: arxiv-shared
